### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

local_settings.py

# Media
media/
!static/js/tinymce/plugins/media

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django stuff:
*.log

# DB
*.sqlite3
*.db
densitron_2016.sql

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:
media_files/

# Add the fake mailing credentials file to the repo while the project developing
#salesforce/config.json
#*config.json
#*.json

# SASS
**/.sass-cache/
**/*.css.map

# temporary files
tmp/
