### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

local_settings.py

# Media
media/

env/
venv/
**/tmp/

# Django stuff:
*.log

# DB
*.sqlite3
*.db

## Directory-based project format:
.idea/
media_files/

# SASS
**/.sass-cache/
**/*.css.map